<body>
    <h1> Create a New User</h1>
    <form method="POST" action="/users/create_user">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="text" name="email" placeholder="Email"><br>
        <textarea name="bio" placeholder="BIO"></textarea><br>
        <button type="submit">Add User</button>
    </form>
</body>